@cherset "UTF-8";

    * {margin:0; padding:0; box-sizing:border-box; font-family:'Dolbomche_R';}
    ul,li,ol {list-style:none; margin:0; padding:0;}
    a {text-decoration:none; color:black;}
    button {cursor: pointer;}

    @font-face {
        font-family: 'Dolbomche_R';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/Dolbomche_R.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'Pretendard-Regular';
        src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
        font-weight: 400;
        font-style: normal;
    }
    @font-face {
        font-family: 'Dolbomche_B';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/Dolbomche_B.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'Pretendard-Thin';
        src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff') format('woff');
        font-weight: 100;
        font-style: normal;
    }

    @keyframes slider {
        0% {top:80px; opacity:0.2;}
        100% {top:0; opacity:1;}
    }


/* ------------ main ------------ */

    header {
        width:100%;
        background-color:#f2efea;
    }
    .logo {
        width:230px;
        height:30px;
        float:left;
        margin-top:30px;
    }

    header .main {
        width:1150px;
        height:80px;
        margin:0 auto;
    }
    .main .nav1 {
        width:260px;
        float:right;
        margin-top:8px;
        font-size:14px;
    }
    .main .nav2 {
        display:block;
        width:600px;
        margin:10px 0 0 80px;
        float:right;
        font-size:20px;
    }
    .main .nav1 li {
        float:left;
        margin:0 10px;
        font-family:'Pretendard-Regular';
        color:#666;
    }
    .main .nav1 li:hover {
        cursor:pointer;
        color:#999;
    }
    .navicon {display:none;}
    
    .main .nav2 li {
        float:left;
        padding:0 10px;
    }
    .main .nav2 li a:hover {
        cursor:pointer;
        color:rgb(180, 6, 6);
        transition:all 1s;
    }


    .bannner {
        width:100%;
        position:relative;
        display:inline-block;
        background-color:black;
    }
    .bannner img.backimg {
        max-width:100%;
        height: 100%;
        transition:all 5s;
        display:block;
    }
    .bannner span.text {
        position:absolute;
        top:50%;
        left:0;
        transform:translateY(-50%);
        display:none;
        width:100%;
        font-size:30px;
        color:white;
        font-family: 'Pretendard-Regular';
        line-height:100px;
        text-align:center;
        transition:all 5s;      
    }
    .bannner span .logo2 {
        width:250px;
        height:32px;
    }
    .bannner::before, .bannner::after {
        content:'';
        position:absolute;
        top:50%;
        left:50%;
        width:80%;
        height:80%;
        transform:translate(-50%, -50%);
        transition:all 5s;
    }
    .bannner::before {
        border-top:2px solid white;
        border-bottom:2px solid white;
        width:0;
    }
    .bannner::after {
        border-left:2px solid white;
        border-right:2px solid white;
        height:0;
    }
    .bannner:hover .backimg{opacity:0.3;}
    .bannner:hover span.text {display:block;}
    .bannner:hover::before{width:80%;}
    .bannner:hover::after{height:80%;}

    
/* ------------ section ------------ */

/* -----선택메뉴----- */

    #maininput {
        width:1150px;
        height:400px;
        margin:0 auto;
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        position: relative;
        animation: slider 3s linear 0.3s;
        animation-fill-mode: forwards;
    }
    #maininput p {
        text-align:center;
        font-size:30px;
    }
    #menu {
        display:flex;
        flex-direction:row;
        justify-content: space-around;
    }
    #menu img {
        width:80px;
        background-color:#EBE0D6;
        padding:10px;
        border-radius:10%;
    }
    #menu span {
        display:block;
        text-align:center;
        font-family:'Pretendard-Regular';
    }
    #menu img:hover {
        background-color:white;
        border:1px solid #EBE0D6;
        box-shadow:2px 2px 2px 1px #f2efea ;
        transition:all 1s;
    }

/* --------------------- */

    #top {
        width:100%;
        height:1050px;
        background-color:#f2efea;

    }

/* -----문화시설 문화유적지----- */

    #top1, #top2 {
        display:flex;
        flex-direction:column;
        justify-content:space-evenly;
        width:1150px;
        height:1050px;
        margin:30px auto 0;
        padding:10px 0;
    }

    #top1 h2, #top2 h2 {
        width:200px;
        margin:0 auto;
        text-align:center;
        letter-spacing:10px;
        padding-left:10px;
        background-color: #EBE0D6;
    }
    .top_big{
        display:flex;
        justify-content:space-between;
        align-items:center;
        width:1150px;
    }

    .top_bigimgbox, .top_bigimg {
        width:550px;
        height:365px;
        overflow: hidden;
        transition:all 1.5s;
    }
    .top_bigimg:hover {
        transform: scale(1.1);
    }


    .top_bigtext{
        width:550px;
        height:250px;
        text-align:center;
    }
    .top_bigtext p:nth-of-type(1){
        font-family: 'Dolbomche_B';
        color:#470000;
        font-size:35px;
        margin-bottom: 30px;
    }
    .top_bigtext p:nth-of-type(2){
        font-family: 'Pretendard-Regular';
        margin-bottom: 30px;
        line-height:35px;
        font-size:23px;
    }
    .top_bigtext button {
        background-color:#470000;
        padding:5px 10px;
        color:white;
        border:none;
        border-radius:10px;
        font-size:18px;
    }
    .top_bigtext button:hover {
        background-color:white;
        border:1px solid #EBE0D6;
        color:#470000;
        transition:all 0.5s;
    }
        .top_mini {
        display:flex;
        justify-content:space-between;
        width:1150px;
        height:370px;
    }
    .top_minibox {
        width:325px;
        height:380px;
    }
    .top_miniimgbox, .top_miniimg {
        width:325px;
        height:215px ;
        overflow:hidden;
        transition:all 1.5s;
    }
    .top_miniimg:hover{
        transform:scale(1.1);
    }
    .top_minitext {
        text-align:center;
        margin:10px;
    }
    .top_minitext p:nth-of-type(1) {
        font-family:'Dolbomche_B';
        font-size:30px;
        color:#470000;
        margin-bottom:5px;
    }
    .top_minitext p:nth-of-type(2) {
        font-family: 'Pretendard-Regular';
        font-size:20px;
        margin-bottom:10px;
    }
    .top_minitext button {
        background-color:#470000;
        padding:5px 10px;
        color:white;
        border:none;
        border-radius:10px;
        font-size:15px;
    }
    .top_minitext button:hover {
        background-color:white;
        border:1px solid #EBE0D6;
        color:#470000;
        transition:all 0.5s;
    }

/* -----이색체험----- */

    #middle_section1 {
        display:flex;
        flex-direction:column;
        justify-content:space-evenly;
        align-items:center;
        width:100%;
        height:800px;
        background-color: #310000;
        color:white;
    }
    #middle_section1 h2 {
        width:200px;
        margin:0 auto;
        text-align:center;
        letter-spacing:10px;
        padding-left:10px;
        background-color: #EBE0D6;
        color:black;
    }
    #middle1 {
        width:1150px;
        height:550px;
        display: flex;
        justify-content:space-between;
    }

    .mdl1_big {
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        align-items:center;
        width:620px;
        height:550px;
        border:1px solid #EBE0D6;
        cursor: pointer;
        transition:all 1.5s;
    }
    .mdl1_big:hover {
        background-color:#EBE0D6;
        color:black;
    }
    .mdl1_text {
        text-align:center;
    }
    .mdl1_text p:nth-of-type(1) {
        font-size:30px;
        margin:20px 0;
    }
    .mdl1_text p:nth-of-type(2) {
        font-family: 'Pretendard-Regular';
        line-height:30px;
        font-size:17px;
    }
    .mdl1_mini {
        display:flex;
        flex-direction:column;
        justify-content:space-between;
    }
    .mdl1_minitext {
        width:500px;
        height:155px;
        border:1px solid #EBE0D6;
        text-align:center;
        cursor: pointer;
        transition:all 1.5s;
    }
    .mdl1_minitext:hover {
        background-color:#EBE0D6;
        color:black;
    }

    .mdl1_minitext p:nth-of-type(1) {
        font-size:30px;
        margin:10px 0;
    }
    .mdl1_minitext p:nth-of-type(2) {
        font-family: 'Pretendard-Regular';
        line-height :28px;
        font-size:16px;
    }

    /* -----스탬프투어----- */
    #middle_section2 {
        width:100%;
        height:1400px;
        background-color:#310000;
    }
    #middle2 {
        display:flex;
        flex-direction:column;
        justify-content:space-evenly;
        align-items:center;
        width:1150px;
        height:1400px;
        margin:0 auto;
    }
    #middle_section2 h2 {
        width:200px;
        margin:0 auto;
        text-align:center;
        letter-spacing:10px;
        padding-left:10px;
        background-color: #EBE0D6;
        color:black;
    }
    #middle2 p {
        text-align:center;
        font-size:30px;
        color:#EBE0D6;
    }
    .mld2imgbox{
        display:flex;
        justify-content:space-between;
        width:1150px;
    }
    .mld2imgbox img {
        width:300px;
        cursor: pointer;
        box-shadow:5px 5px 5px  black;
    }
    .mld2imgbox img:hover {
        transform:translateX(25px) translateY(-10px);
        transition:all 1s;
    }

    /* -----한옥마을풍경----- */

    #bottom {
        width:100%;
        height:1870px;
        background: url("../img/back.jpg") no-repeat center;
    }
    #bottombox {
        display: flex;
        flex-direction:column;
        justify-content:space-evenly;
        align-items:center;
        width:1150px;
        height:1870px;
        margin:0 auto;
    }
    .btmtitle {
        width:1150px;
        text-align: center;
    }
    .btmlogo {
        display:block;
        width:335px;
        height:47px;
        margin:0 auto 15px;
    }
    .btmtitle p {
        margin-top:40px;
        font-size:30px;
        color:#310000;
    }
    .btm1 {
        display: flex;
        justify-content:space-between;
        flex-wrap: wrap;
        width:100%;
        height:776px;
    }
    .btm1_left, .btm1_right {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        width:570px;
        height:776px;
    }

    .btm1_box1, .btm1_box2, .btm1_box3, .btm1_box4 {
        width:100%;
        display: inline-block;
        position:relative;
        cursor: pointer;
    }
    .btm1_box1 {height:383px;}
    .btm1_box2 {height:384px;}
    .btm1_box3 {height:324px;}
    .btm1_box4 {height:442px;}

    .btm1 img {
        position:relative;
        width:100%;
        height:100%;
        cursor: pointer;
    }
    .btmtext:hover {opacity:0.7;}
    .btmtext {
        position:absolute;
        display:flex;
        justify-content:center;
        align-items:center;
        bottom:0;
        width:100%;
        height:100%;
        color:#EBE0D6;
        text-align:center;
        font-size:35px;
        opacity:0;
        background-color:black;
        transition:all 1.5s ease;
        cursor: pointer;
    }
    .btmtext span>span {
        font-family:'Pretendard-B';
        font-size:20px;
        color: white;
    }
    .btm2 {
        display: flex;
        justify-content:space-between;
        flex-wrap: wrap;
        width:100%;
        height:400px;
    }
    .btm2_box1, .btm2_box2 {
        width:570px;
        height:400px;
        display: inline-block;
        position:relative;
        cursor: pointer;
    }
    .btm2 img {
        position:relative;
        width:100%;
        height:100%;
        cursor: pointer;
    }

    /* ------------ footer ------------ */
    footer {
        width:100%;
        height:210px;
        background-color:#180000;
        color:white;
    }
    #footerbox {
        width:1150px;
        height:100%;
        margin:0 auto;
        display:flex;
        justify-content:space-between;
    }
    .footer_left {
        display: flex;
        flex-direction:column;
        justify-content:space-evenly;
        width:500px;
    }
    .footerlink a {
        color:#EBE0D6;
        font-size:20px;
        margin-right:30px;
    }
    .footerlink a:hover {
        opacity:0.7;
    }

    .footer_left p {
        font-family: 'Pretendard-Regular';
        font-size:15px;
    }
    .footer_right{
        display:flex;
        justify-content: space-around;
        width:200px;
    }
    .footer_right img{
        width:40px;
        height:40px;
        margin-top:30px;;
        cursor: pointer;
    }
    .footer_right img:hover {
        opacity:0.7;
    }



