@charset "UTF-8";

/* ------------ main ------------ */

    .mainbanner {
        width:100%;
        height:550px;
        background:url(../img/sub_banner.jpg) fixed;
        background-position:center;
        background-size:cover;
    }

    /* ------------ section ------------ */

    /* -----한옥마을소개----- */

    #sec1 {
        width:100%;
        height:2400px;
        background:url(../img/sub_back.jpg);
        background-position:center;
        background-size:cover;
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        align-items:center;
    }

    .sec1_title {
        width:365px;
        height:120px;
    }
    .sec1_title img {
        display:block;
        margin:0 auto;
    }
    .sec1_title p {
        background-color:#310000;
        padding:5px 0;
        color:white;
        font-size:40px;
        text-align: center;
    }

    .sec1_top {
        width:1150px;
        display:flex;
        justify-content:space-between;
    }
    .sec1_top p {
        font-family: 'Pretendard-Regular';
        margin-top:45px;
        font-size:23px;
        line-height:40px;
    }
    .sec1_top span {
        font-size:35px;
        font-weight:900;
        color:#610000;
    }
    .sec1_top img {
        width:500px;
        height:400px;
    }

    /* -----걸어온길----- */

    .sec1_middle {
        width:1150px;
        height:750px;
        display:flex;
        flex-direction: column;
        justify-content:space-between;
    }
    .sec1_middle h1 {
        width:400px;
        padding-left:100px;
        background-color:#310000;
        border-radius: 0 20px 0 0 ;
        color:white;
        font-size:35px;
        font-weight:100;
    }

    .sec1_mid {
        height:650px;
        display:flex;
        flex-direction: column;
        justify-content:space-between;
    }
    .sec1_mid div:nth-of-type(3) {
        margin-top:30px;
    }
    .sec1_midbox {
        width:100%;
        height:180px;
        display:flex;
        justify-content:space-evenly;
        align-items: center;
    }
    .sec1_midbox img {
        width:200px;
        height:35px;
    }
    .sec1_midbox p {
        width:560px;
        font-family: 'Pretendard-Regular';
        line-height:30px;
        padding-left:30px;
        border-left:3px solid black;
        font-size:18px;
    }

    /* -----지켜가는 사람들----- */

    .sec1_bottom {
        width:1150px;
        height:430px;
        display:flex;
        flex-direction:column;
        justify-content:space-between;
    }
    .sec1_bottom h1 {
        width:490px;
        padding-left:100px;
        background-color:#310000;
        border-radius: 0 20px 0 0 ;
        color:white;
        font-size:35px;
        font-weight:100;
    }
    .sec1_btmbox{
        width:100%;
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .sec1_btmbox img {
        width:520px;
    }
    .sec1_btmbox p {
        width:560px;
        font-family: 'Pretendard-Regular';
        line-height:30px;
        font-size:18px;
    }
    .sec1_btmbox span {
        font-size:35px;
        font-weight:900;
        color:#610000;
    }


    /* -----한옥마을숙소----- */
    #sec2 {
        width:100%;
        height:1265px;
        background-color:#310000;
    }