@cherset "UTF-8";

    * {margin:0; padding:0; box-sizing:border-box; font-family:'Dolbomche_R';}
    ul,li,ol {list-style:none; margin:0; padding:0;}
    a {text-decoration:none; color:black;}
    button {cursor: pointer;}

    @font-face {
        font-family: 'Dolbomche_R';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/Dolbomche_R.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'Pretendard-Regular';
        src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
        font-weight: 400;
        font-style: normal;
    }
    @font-face {
        font-family: 'Dolbomche_B';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/Dolbomche_B.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @keyframes slider {
        0% {top:80px; opacity:0.2;}
        100% {top:0; opacity:1;}
    }


/* ------------ main ------------ */

    header {
        width:100%;
        height:945px;
        background-color:#f2efea;
    }
    .logo {
        width:230px;
        height:30px;
        float:left;
        margin-top:30px;
    }

    header .main {
        width:1150px;
        height:80px;
        margin:0 auto;
    }
    .main .nav1 {
        width:260px;
        float:right;
        margin-top:8px;
        font-size:14px;
    }
    .main .nav2 {
        width:650px;
        margin:10px 0 0 20px;
        float:right;
        font-size:20px;
    }
    .main .nav2 img {
        width:25px;
        height:25px;
    }
    .main .nav2 li img:hover {
        cursor:pointer;
        opacity:0.7;
    }


    .main .nav1 li {
        float:left;
        margin:0 10px;
        font-family:'Pretendard-Regular';
        color:#666;
    }
    .main .nav1 li:hover {
        cursor:pointer;
        color:#999;
    }

    .main .nav2 li {
        float:left;
        padding:0 10px;
    }
    .main .nav2 li a:hover {
        cursor:pointer;
        color:green;
        font-family: 'Dolbomche_B';
        transition:all 1s;
    }


    .bannner {
        width:100%;
        position:relative;
        display:inline-block;
        background-color:black;
    }
    .bannner img.backimg {
        max-width:100%;
        height: 100%;
        transition:all 5s;

    }
    .bannner span.text {
        position:absolute;
        top:50%;
        left:0;
        transform:translateY(-50%);
        display:none;
        width:100%;
        font-size:30px;
        color:white;
        font-family: 'Pretendard-Regular';
        line-height:100px;
        text-align:center;
        transition:all 5s;      
    }
    .bannner span .logo2 {
        width:250px;
        height:32px;
    }
    .bannner::before, .bannner::after {
        content:'';
        position:absolute;
        top:50%;
        left:50%;
        width:80%;
        height:80%;
        transform:translate(-50%, -50%);
        transition:all 5s;
    }
    .bannner::before {
        border-top:2px solid white;
        border-bottom:2px solid white;
        width:0;
    }
    .bannner::after {
        border-left:2px solid white;
        border-right:2px solid white;
        height:0;
    }
    .bannner:hover .backimg{opacity:0.3;}
    .bannner:hover span.text {display:block;}
    .bannner:hover::before{width:80%;}
    .bannner:hover::after{height:80%;}

    
/* ------------ section ------------ */

/* -----선택메뉴----- */

    #maininput {
        width:1150px;
        height:400px;
        margin:0 auto;
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        position: relative;
        animation: slider 3s linear 0.3s;
        animation-fill-mode: forwards;
    }
    #maininput p {
        text-align:center;
        font-size:30px;
    }
    #menu {
        display:flex;
        flex-direction:row;
        justify-content: space-around;
    }
    #menu img {
        width:80px;
        background-color:#EBE0D6;
        padding:10px;
        border-radius:10%;
    }
    #menu span {
        display:block;
        text-align:center;
        font-family:'Pretendard-Regular';
    }
    #menu img:hover {
        background-color:white;
        border:1px solid #EBE0D6;
        box-shadow:2px 2px 2px 1px #f2efea ;
        transition:all 1s;
    }

/* --------------------- */

    #top {
        width:100%;
        height:2050px;
        background-color:#f2efea;

    }

/* -----문화시설----- */

    #top1, #top2 {
        display:flex;
        flex-direction:column;
        justify-content:space-evenly;
        width:1150px;
        height:1050px;
        margin:30px auto 0;
        padding:10px 0;
    }

    #top1 h2, #top2 h2 {
        width:200px;
        margin:0 auto;
        text-align:center;
        letter-spacing:10px;
        padding-left:10px;
        background-color: #EBE0D6;
    }
    .top_big{
        display:flex;
        justify-content:space-between;
        align-items:center;
        width:1150px;
    }

    .top_bigimgbox, .top_bigimg {
        width:550px;
        height:365px;
        overflow: hidden;
        transition:all 1.5s;
    }
    .top_bigimg:hover {
        transform: scale(1.1);
    }


    .top_bigtext{
        width:550px;
        height:250px;
        text-align:center;
    }
    .top_bigtext p:nth-of-type(1){
        font-family: 'Dolbomche_B';
        color:#470000;
        font-size:35px;
        margin-bottom: 30px;
    }
    .top_bigtext p:nth-of-type(2){
        font-family: 'Pretendard-Regular';
        margin-bottom: 30px;
        line-height:35px;
        font-size:23px;
    }
    .top_bigtext button {
        background-color:#470000;
        padding:5px 10px;
        color:white;
        border:none;
        border-radius:10px;
        font-size:18px;
    }
    .top_bigtext button:hover {
        background-color:white;
        border:1px solid #EBE0D6;
        color:#470000;
        transition:all 0.5s;
    }
        .top_mini {
        display:flex;
        justify-content:space-between;
        width:1150px;
        height:370px;
    }
    .top_minibox {
        width:325px;
        height:380px;
    }
    .top_miniimgbox, .top_miniimg {
        width:325px;
        height:215px ;
        overflow:hidden;
        transition:all 1.5s;
    }
    .top_miniimg:hover{
        transform:scale(1.1);
    }
    .top_minitext {
        text-align:center;
        margin:10px;
    }
    .top_minitext p:nth-of-type(1) {
        font-family:'Dolbomche_B';
        font-size:30px;
        color:#470000;
        margin-bottom:5px;
    }
    .top_minitext p:nth-of-type(2) {
        font-family: 'Pretendard-Regular';
        font-size:20px;
        margin-bottom:10px;
    }
    .top_minitext button {
        background-color:#470000;
        padding:5px 10px;
        color:white;
        border:none;
        border-radius:10px;
        font-size:15px;
    }
    .top_minitext button:hover {
        background-color:white;
        border:1px solid #EBE0D6;
        color:#470000;
        transition:all 0.5s;
    }






    #middle {
        width:100%;
        height:670px;
        background-color: #310000;
    }
    #bottom {
        width:100%;
        height:1770px;
        background: url("../img/back.jpg") no-repeat center;
    }

/* ------------ footer ------------ */
    footer {
        width:100%;
        height:210px;
        background-color:#180000;
    }


