@charset "UTF-8";

/* ----------큰사이즈---------- */

/* ----------해더---------- */
header {
  width:100%;
  background-color:#f2efea;
}
.logo {
  width:230px;
  height:30px;
  float:left;
  margin-top:30px;
}

header .main {
  width:1150px;
  height:80px;
  margin:0 auto;
}
.main .nav1 {
  width:260px;
  float:right;
  margin-top:8px;
  font-size:14px;
}
.main .nav2 {
  display:block;
  width:600px;
  margin:10px 0 0 80px;
  float:right;
  font-size:20px;
}
.main .nav1 li {
  float:left;
  margin:0 10px;
  font-family:'Pretendard-Regular';
  color:#666;
}
.main .nav1 li:hover {
  cursor:pointer;
  color:#999;
}
.navicon {display:none;}

.main .nav2 li {
  float:left;
  padding:0 10px;
}
.main .nav2 li a:hover {
  cursor:pointer;
  color:rgb(180, 6, 6);
  transition:all 1s;
}
/* ----------푸터---------- */
footer {
  width:100%;
  height:210px;
  background-color:#180000;
  color:white;
}
#footerbox {
  width:1150px;
  height:100%;
  margin:0 auto;
  display:flex;
  justify-content:space-between;
}
.footer_left {
  display: flex;
  flex-direction:column;
  justify-content:space-evenly;
  width:500px;
}
.footerlink a {
  color:#EBE0D6;
  font-size:20px;
  margin-right:30px;
}
.footerlink a:nth-of-type(4) {
  margin-right:0;
}
.footerlink a:hover {
  opacity:0.7;
}

.footer_left p {
  font-family: 'Pretendard-Regular';
  font-size:15px;
}
.footer_right{
  display:flex;
  justify-content: space-around;
  width:200px;
}
.footer_right img{
  width:40px;
  height:40px;
  margin-top:30px;;
  cursor: pointer;
}
.footer_right img:hover {
  opacity:0.7;
}



/* ----------중간사이즈---------- */
@media (min-width:769px) and (max-width:1199px) {
/* ----------해더---------- */
  .logo {
    width:190px;
    height:26px;
    margin:30px 0 0 20px;
  }
  header .main {
    width:100%;
  }
  .main .nav1 {
    width:auto;
    font-size:13px;
  }
  .main .nav2 {
    position: absolute;
    top:25px;
    right:0;
    width:auto;
    font-size:17px;
  }
/* ----------푸터---------- */
  #footerbox {
    width:90%;
  }
}



/* ----------작은사이즈---------- */
@media (max-width:768px) {
/* ----------해더---------- */
  .logo {
    width:190px;
    height:26px;
    margin:30px 0 0 20px;
  }
  header .main {
    width:100%;
    height:80px;
  }
  .main .nav1 {
    display:none;
  }
  .main .nav2 {
    width:100%;
    background-color: #470000;
    display:none;
  }
  .main .nav2 ul{
    display:flex;
    flex-direction:column;
    align-items:center;
  }
  .main .nav2 li {
    width:100%;
    padding:10px 0;
    text-align:center;
  }
  .main .nav2 li:hover {
    background-color: #180000;
  }
  .main .nav2 li a:hover {
    color: white;
  }
  .main .nav2 a {
    color:white;
  }
  .navicon {
    display:block;
    position:absolute;
    font-size:25px;
    color:#570303;
    right:18px;
    top:28px;
  }
  .nav2.active{display:block;}
  .navicon:hover {
    color:rgb(180, 6, 6);
  }
/* ----------푸터---------- */
  #footerbox {
    width:100%;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:center;
    text-align:center;
  }
  .footer_left{
    width:100%;
  }
  .footer_left p {
    width:100%;
    margin-top:2%;
    font-size:13px;
  }
  .footer_right img{
    margin-top:0;
  }
}
  

