@charset "UTF-8";

@media (min-width:769px) and (max-width:1199px) {

/* -----한옥마을소개----- */
  #sec1 {
      height:2600px;
  }  

  .sec1_top {
      width:100%;
      align-items: center;
      flex-direction: column-reverse;
      justify-content:space-evenly;
  }
  .sec1_top img {
      width:auto;
      height:380px;
  }
  .sec1_top p {
      width:90%;
      text-align: center;
  }

 /* -----걸어온길----- */

  .sec1_middle {
      width:100%;
      align-items: center;
  }
  .sec1_middle h1 {
    width:300px;
    padding:0;
    font-size:30px;
    border-radius: 20px 20px 0 0 ;
    text-align: center;
  }
  .sec1_mid {
      width:90%;
  }
  .sec1_midbox img {
      margin-right:5%;
  }
  .sec1_midbox p {
    border-left:1px dotted black;
  }
/* -----지켜가는 사람들----- */
  .sec1_bottom {
      width:100%;
      align-items: center;
  }
  .sec1_bottom h1 {
    width:380px;
    padding:0;
    font-size:30px;
    border-radius: 20px 20px 0 0 ;
    text-align: center;
  }
  .sec1_btmbox {
    width:90%;      
  }
  .sec1_btmbox_img {
    width:45%;
  }
  .sec1_btmbox_img img {
    width:100%;
  }
  .sec1_btmbox p {
    width:50%;
    height:70%;
    font-size:16px;
    overflow-y: scroll; 
  }

/* -----한옥마을숙소----- */
  #sec2 {
    width:100%;
    height:1500px;
    justify-content:space-between;
  }
  .sec2_middle {
    width:90%;
    height:800px;
    top:35%
  }
  .sec2_midbox {
    width:100%;
    margin:0;
  }
  .sec2_midbox_img {
    width:50%;
  }
  .sec2_midbox img {
      width:100%;
  }
  .sec2_bottom button {
    width:80%;
    top:80%;
    left:10%;
  }

}