@cherset "UTF-8";

@media (max-width:768px) {

/* ------------ main ------------ */

    .logo {
        width:190px;
        height:26px;
        margin:30px 0 0 20px;
    }
    header .main {
        width:100%;
        height:80px;
    }
    .main .nav1 {
        display:none;
    }
    .main .nav2 {
        width:100%;
        background-color: #470000;
        display:none;
    }
    .main .nav2 ul{
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    .main .nav2 li {
        width:100%;
        padding:10px 0;
        text-align:center;
    }
    .main .nav2 li:hover {
        background-color: #180000;
    }
    .main .nav2 li a:hover {
        color: white;
    }
    .main .nav2 a {
        color:white;
    }
    .navicon {
        display:block;
        position:absolute;
        font-size:25px;
        color:#570303;
        right:18px;
        top:28px;
    }
    .nav2.active{display:block;}

    .navicon:hover {
        color:rgb(180, 6, 6);
    }
    .bannner span .logo2 {
        width:200px;
        height:27px;
    }
    .bannner span.text {
        font-size:25px;
        line-height:80px;
    }

    /* -----선택메뉴----- */

    #maininput {
        width:100%;
    }
    #maininput p {
        font-size:25px;
    }

/* -----문화시설 문화유적지----- */
    #top {
        height:auto;
    }

    #top1, #top2{
        width:90%;
        height:100%;
    }
    #top1 h2, #top2 h2 {
        margin:7% auto;
    }
    .top_big{
        flex-direction: column-reverse;
        width:100%;
    }
    .top_bigimgbox {
        width: 100%;
        height:100%;
    }
    .top_bigimg{
        width:100%;
        height:100%;
    }
    .top_bigtext{
        width:100%;
        height:auto;
        margin-left:3%;
    }
    .top_bigtext p:nth-of-type(1){
        font-size:30px;
        margin:10px 0 10px;
    }
    .top_bigtext p:nth-of-type(2){
        font-size:18px;
        line-height:25px;
        margin-bottom:10px;
    }
    .top_bigtext button {
        font-size:15px;
        margin-bottom:10px;
    }
    .top_mini {
        flex-direction: column;
        justify-content:space-between;
        width:100%;
        height:auto;
    }
    .top_minibox {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        width:100%;
        height:100%;
    }
    .top_miniimgbox{
        width:100%;
        height:100%;
    }
    .top_miniimg {
        width:100%;
        height:100%;
    }
    .top_minitext p:nth-of-type(1) {
        font-size:30px;
    }
    .top_minitext p:nth-of-type(2) {
        font-size:18px;
        line-height:25px;
    }
/* -----이색체험----- */

    #middle_section1 {
        height:1250px;

    }
    #middle1 {
        width:100%;
        height:1050px;
        flex-direction:column;
        align-items:center;
    }
    .mdl1_big {
        width:90%;
    }
    .mdl1_videobox, .mdl1_videobox iframe {
        width:100%;
    }
    .mdl1_mini {
        width:90%;
        height:490px;
    }
    .mdl1_minitext {
        width:100%;
        height:auto;
    }

    /* -----스탬프투어----- */
    #middle_section2 {
        height:1000px;
    }
    #middle2 {
        width:100%;
        height:100%;
        margin:0 auto;
    }
    #middle2 iframe {
        width:90%;
        height:400px;
    }
    .mld2imgbox{
        width:90%;
        background: #180000;
    }
    .mld2imgbox img {
        width:30%;
        cursor: pointer;
        box-shadow:5px 5px 5px  black;
    }

    /* -----한옥마을풍경----- */
    #bottom {
        height:3200px;
    }
    #bottom p {
        font-size:25px;
    }
    #bottombox {
        width:90%;
        height:100%;
    }
    .btmtitle {
        width:100%;
    }
    .btm1 {
        flex-direction: column;
        align-items:center;
        height:auto;
    }
    .btm1_left, .btm1_right {
        width:100%;
        height:auto;
    }
    .btm1_box1 {height:auto;}
    .btm1_box2 {height:auto; margin-top:2%;}
    .btm1_box3 {height:auto; margin-top:2%;}
    .btm1_box4 {height:auto; margin-top:2%;}

    .btm2 {
        flex-direction:column;
        align-items: center;
        height:auto;
    }
    .btm2_box1, .btm2_box2 {
        width:100%;
        height:auto;
        margin:1% 0;
    }
    .btmtext {
        font-size:30px;
    }
    .btmtext span>span {
        font-size:14px;
    }
    
    /* ------------ footer ------------ */
    #footerbox {
        width:100%;
        flex-direction: column;
        justify-content:space-evenly;
        align-items:center;
        text-align:center;
    }
    .footer_left{
        width:100%;
    }
    .footer_left p {
        width:100%;
        margin-top:2%;
        font-size:13px;
    }
    .footer_right img{
        margin-top:0;
    }
}